[Unit]
Description=vpu021.novakvova.com

[Service]
WorkingDirectory=/var/www/android/vpu011.allin.ml
ExecStart=/usr/bin/dotnet WebShopApi.dll --urls=https://localhost:8700
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target